@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base style for the app */
@layer base {

    /* Resetting the base style while disabling the preflight(TW own style) in config file */

    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    li {list-style: none;}

    a,
    img,
    span,
    input,
    button { display: block;}

    a {
        color: inherit;
        text-decoration: none;
    }

    img { height: auto;}

    input,
    button {
        background: none;
        border: none;
        color: inherit;
        font: inherit;
    }

    input {width: 100%;}

    button {cursor: pointer;}

    sub {vertical-align: baseline;}

    sup {vertical-align: top;}

    /* Applying the custom base style for the project using css as well as twcss classes */

    html {
        @apply font-primary text-[10px] scroll-smooth;
    }

    body {
        @apply bg-background text-on_background text-body_3 overflow-hidden;
    }

    :focus-visible {
        @apply outline-2 outline text-white outline-offset-2;
    }

    ::selection {@apply text-white_alpha_8;}

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        @apply text-white_alpha_8 rounded-radius_pill;
    }

    @font-face {
        font-family: 'Material Symbols Rounded';
        font-style: normal;
        font-weight: 400;
        src: url(/assets/font/material-symbol-rounded.woff2) format('woff2');
    }

    /* Material Symbols Rounded Icons */
    .m-icon {
        font-family: 'Material Symbols Rounded';
        font-weight: normal;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: "liga";
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        height: 1em;
        width: 1em;
        overflow: hidden;
    }
}

@layer components{
    
    /* Complex & Reusable CSS*/
    .icon-btn {
        @apply bg-white_alpha_8 w-16 h-16 grid place-items-center rounded-radius_circle;
    }

    .has-state {@apply relative hover:shadow-shadow_1 focus:focus-visible:shadow-none;}

    .has-state::before {
        @apply absolute inset-0 transition ease-transition_short;
        content: "";
        border-radius: inherit;
        clip-path: circle(100% at 50% 50%);
    }

    .has-state:hover::before {@apply bg-white_alpha_4;}

    .has-state:is(:focus,:focus-visible)::before {
        @apply bg-white_alpha_8;
        animation: ripple 250ms ease forwards;
    }

    @keyframes ripple {
        0% {clip-path: circle(0% at 50% 50%)}
        100% {clip-path: circle(100% at 50% 50%)}
    }

    .btn-primary {
        @apply bg-primary text-on_primary h-16 leading-[4rem] max-w-fit flex items-center gap-8 rounded-radius_pill;
        padding-inline: 16px;
    }

    .btn-primary[disabled] {@apply bg-outline text-on_surface_variant cursor-not-allowed;}

    .btn-primary[disabled]::before {@apply hidden;}

    .card {@apply bg-surface text-on_surface;}

    .card-lg {@apply rounded-radius_28 p-9;}

    .card-sm {@apply rounded-radius_16 p-8;}

    .heading {@apply text-white text-heading leading-[1.1];}

    .title-1 {@apply text-title_1;}

    .title-2 {
        @apply text-title_2;
        margin-block-end: 12px;
    }

    .title-3 {@apply text-title_3 font-semibold;}

    .body-1{@apply text-body_1;}
    .body-2{@apply text-body_2 font-semibold;}
    .body-3{@apply text-body_3;}

    .label-1 {@apply text-label_1}
    .label-2 {@apply text-label_2}



    /* HEADER */
    .header .btn-primary {padding-inline: 8px;}

    .search-view {
        @apply fixed top-0 left-0 w-full h-screen sm:h-[100svh] bg-surface text-on_surface opacity-0 invisible  z-40;
        clip-path: circle(4% at calc(100% - 102px) 5%);
        transition: clip-path 500ms ease;
    }

    .search-view.active {
        @apply opacity-100 visible;
        clip-path: circle(130% at 73% 5%);
    }

    .search-wrapper {
        @apply relative;
        border-block-end: 1px solid theme('backgroundColor.outline');
    }

    .search-wrapper::before {
        @apply absolute top-1/2 -translate-y-1/2 right-8 w-10 h-10 rounded-radius_circle hidden;
        content: "";
        border: 2px solid theme('backgroundColor.on_surface');
        border-block-end: transparent;
        animation: loading 500ms linear infinite;
    }

    @keyframes loading {
        0% {transform: translateY(-50%) rotate(0);}
        100% {transform: translateY(-50%) rotate(1turn);}
    }

    .search-wrapper:has(.searching)::before {@apply block;}

    .search-field {
        @apply h-24 leading-[96px] outline-none;
        padding-inline: 56px 16px;
    }

    .search-field::placeholder {@apply text-on_surface_variant_2;}

    .search-field::-webkit-search-cancel-button {@apply hidden;}

    .search-wrapper .leading-icon {
        @apply absolute top-1/2 left-11;
        transform: translate(-50%, -50%);
    }

    .search-wrapper > .m-icon {@apply hidden;}

    .search-wrapper .icon-btn {@apply bg-transparent shadow-none;}

    .search-view .view-list {padding-block: 8px 16px;}

    .search-view .view-item {
        @apply relative h-[72px] flex justify-start items-center gap-8;
        padding-inline: 16px 24px;
    }

    /* MAIN */
    main {
        height: calc(100vh-80px);
        height: calc(100svh-80px);
        overflow: hidden;
    }

    article.container {
        @apply relative grid gap-9 h-full overflow-y-auto;
        grid-template-columns: minmax(0, 1fr);
        overflow-y: overlay;
    }
    
    article.container::-webkit-scrollbar-thumb {@apply bg-transparent}

    article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {@apply bg-white_alpha_8}

    article.container::-webkit-scrollbar-button {height: 10px;}

    article.container::before {
        @apply fixed bottom-0 w-full h-14 bg-gradient_1 pointer-events-none z-10;
        content: "";
    }

    .section:not(:last-child) {margin-block-end: 16px;}


    /* CURRENT WEATHER */
    .current-weather-card .wrapper {
        @apply flex items-center gap-6;
        margin-block: 12px;
    }

    .current-weather-card .weather-icon {margin-inline: auto;}

    .current-weather-card > .body-3 {@apply capitalize;}

    .current-weather-card .meta-list {
        margin-block-start: 16px;
        padding-block-start: 16px;
        border-block-start: 1px solid theme('backgroundColor.outline');
    }

    .current-weather-card .meta-item {@apply flex items-center gap-6}

    .current-weather-card .meta-item:not(:last-child){margin-block-end: 12px;}

    .current-weather-card .meta-item {@apply text-on_surface_variant;}


    /* FORECAST */
    .forecast-card .title-2 {margin-block-end: 0;}

    .forecast-card :is(.card-item, .icon-wrapper) {@apply flex items-center}

    .forecast-card .card-item:not(:last-child) {margin-block-end: 12px;}
    
    .forecast-card .icon-wrapper {@apply gap-6}

    .forecast-card .label-1 {@apply text-on_surface_variant font-semibold}

    .forecast-card .card-item > .label-1 {@apply w-full text-right}





}